.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.build 2
.docker-compose.yml.swp
ssl
ssl.zip
*.tmp
session-state-*.json
logs/
.env
